name: Release

on:
  push:
    tags:
      - "*.*.*"

env:
  project_name: IdentityPlugin

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update module version
        run: |
          sed -i 's/Version = "1.0.0"/Version = "${{ github.ref_name }}"/g' src/${{ env.project_name }}.cs

      - name: Set up .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish the project
        run: dotnet publish

      - name: Move release zip
        run: |
          mv build/${{ env.project_name }}.zip ${{ env.project_name }}-v${{ github.ref_name }}.zip

      - name: Release
        id: release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: v${{ github.ref_name }}
          files: |
            ${{ env.project_name }}-v${{ github.ref_name }}.zip
